body {
	background-color: #1c1c1c;
	font-family: Arial, Helvetica, sans-serif;
	color: #eee;
  }
  
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .login-container {
	background-color: #2d2d2d;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	text-align: center;
	width: 350px;
  }
  
  .logo {
	display: block;
	margin: 0 auto 20px;
	max-width: 100px;
  }
  
  h1 {
	margin-top: 0;
	font-size: 36px;
	font-weight: 700;
	color: #eee;
  }
  
  .form-group {
	margin-bottom: 20px;
	text-align: left;
  }
  
  label {
	display: block;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: #eee;
  }
  
  input[type="text"],
  input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	background-color: #3d3d3d;
	color: #eee;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
	outline: none;
	box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.1);
  }
  
  .btn {
	background-color: #eee;
	color: #444;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
	background-color: #ddd;
  }
  
  .forgot-password {
	margin-top: 20px;
  }
  
  .forgot-password a {
	color: #eee;
	text-decoration: none;
  }
  
  .documentation {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
  }
  
  .documentation a {
	color: #eee;
	text-decoration: none;
  }
  
  .documentation a:hover {
	text-decoration: underline;
  }
  