.button {
    cursor:pointer;
    background-color: #4169E1;
    border-radius: 4px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    color: black;
    padding: 5px;
    font-size: 14px;
    font-family: Consolas; 
} /* Blue */

.button:hover {
    background-color: #496dda; /* hellblau */
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

input[type="text"] {
    font-size: 14px;
    width: 300px;
    height: 25px;
  }